
<%= form_with model: @product do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
    <% @product.errors.full_messages_for(:name).each do |message| %>
        <div><%= message %></div>
      <% end %>
  </div>

  <div>
    <%= form.label :price %><br>
    <%= form.text_area :price %>
    <% @product.errors.full_messages_for(:price).each do |message| %>
        <div><%= message %></div>
      <% end %>
  </div>

  <div>
  <%= form.label :quality %><br>
  <%= form.text_field :quality %>
  <% @product.errors.full_messages_for(:quality).each do |message| %>
    <div><%= message %></div>
  <% end %>
</div>

  <div>
    <%= form.submit %>
  </div>
<% end %>